faucon {

  #TileEngine {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #viewport {

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  body {
    background-color: black;
  }

}


ion-app.md  .scroll-content {
  padding: 0px !important;
}

.content-md {
  background-color: black !important;
}

body {

  overflow: hidden;
}
